* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
  }
  
html {
        scroll-behavior: smooth;
    }

body {
      background: #f2f2e6;

    }

    .button-about {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffcc33;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 5px 5px 0 black;
    transition: all 0.2s ease;
    z-index: 1000;

    }
    .button-about:hover {
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0 black;
    }

.card {
    margin-top:80px;
    background: #ffcc33;
    width: 1000px;
    height: 500px;
    padding: 40px;
    border-radius: 20px;
    border: 6px solid black;
    box-shadow: 12px 12px 0 black;
    }

.top {
    text-align: center;
    margin-bottom: 30px;
    }

.top h1 {
    font-size: 64px;
    font-weight: 800;
        }

.top p {
        font-size: 20px;
        font-weight: 600;
    }

    
.name-box {
        background: #f2f2e6;
        border: 5px solid black;
        border-radius: 16px;
        height: 200px;
        width: 800px;
        padding: 40px;
        text-align: center;
        margin: 0 auto;      
    }

.name-box h2 {
         font-size: 72px;
          font-weight: 900;
          line-height: 1.1;
    }

.about {
    
      max-width: 800px;
      padding: 80px 40px;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-h2{
      color: #FFD43B;
      font-size: 35px;
      margin-bottom: 20px;
}

.about-section{
    min-height: 90vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 180px;
    padding: 40px;
    /* margin-top: 100px; */

}

.minecraft-about {
    margin-top: -280px;
    margin-left: 80px;
    
}

.about-title{
    font-family: 'Press Start 2P', cursive;
    font-size: 70px;
    color: white;
    letter-spacing: 4px;
    text-shadow: 4px 4px 0 black;  
    transition: all 0.25s ease;
    cursor: pointer;
}

.about-title:hover{
    text-shadow:
        4px 4px 0 #000,
        0 0 10px #00bfff,
        0 0 20px #1e90ff,
        0 0 40px #66ccff;

    transform: scale(1.05);
}




.about-box {
        display: inline-block;
        justify-content: right;
        margin:auto;
}


.about {

    height: auto;
    max-width: 800px;
    margin-left: 30px;
    margin-bottom: 120px;
    padding: 60px 40px;
}

.about p {

      font-size: 16px;
      line-height: 1.6;
      color: #ffffff;
      font-size: 30px;
      font-weight: 300;
}

.brace {
    color: #16f529;
    font-size: 55px;
    margin-top: 20px;

}
